<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="dev">
        <logger name="com.example.calculatrice" level="DEBUG"/>
        <logger name="org.apache" level="WARN"/>
        <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
        <logger name="org.bson" level="WARN"/>
        <logger name="org.hibernate.validator" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
        <logger name="org.springframework" level="ERROR"/>
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="sun.net" level="OFF"/>
        <logger name="org.hibernate.type.BasicTypeRegistry" level="WARN"/> 
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="ON"/>
        <logger name="org.hibernate.type.descriptor.sql" level="DEBUG"/>
        <logger name="org.hibernate.stat" level="OFF"/>
        <logger name="com.businessobjects" level="OFF"/>
        <logger name="com.businessobjects12" level="OFF"/>

        
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    
</configuration>
